html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  padding-top: 2.25rem;
  overflow-y: auto;

  padding-bottom:44px;

  background-color: #1a1a1a;

  /* -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;  
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.subtitle {
  margin-top: 0 !important;
}

a {
  font-weight:bold;
}
a:hover {
  color:#0061ff;
}

blockquote {
    color: #cfffbf;
    padding-left: 1.5em;
    border-left: 5px solid #9ce2a4;
}

h1 {
    color: #63efff;
}

strong {
    font-weight: 600;
    color: #b6f4ff;
}

.mermaid {
    text-align:center;
    font-size: 15px;
}

.mermaid > svg {
    background-color: #fff
}

code, pre > code {
    background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #383737; 
}

.nunogois-top, .nunogois-top:hover {
    text-decoration:none;
    border-bottom:1px solid #fff;
    color:white;
    font-weight:300;
}


/* CODE SNIPPETS */
.prism .token.boolean, .prism .token.constant, .prism .token.deleted, .prism .token.number, .prism .token.property, .prism .token.symbol, .prism .token.tag, .token.pre.gfm .token.boolean, .token.pre.gfm .token.constant, .token.pre.gfm .token.deleted, .token.pre.gfm .token.number, .token.pre.gfm .token.property, .token.pre.gfm .token.symbol, .token.pre.gfm .token.tag {
    color: #fb52b0;
}

.prism .token.atrule, .prism .token.attr-value, .prism .token.keyword, .token.pre.gfm .token.atrule, .token.pre.gfm .token.attr-value, .token.pre.gfm .token.keyword {
    color: #4dcaff;
}

.prism .token.cdata, .prism .token.comment, .prism .token.doctype, .prism .token.prolog, .token.pre.gfm .token.cdata, .token.pre.gfm .token.comment, .token.pre.gfm .token.doctype, .token.pre.gfm .token.prolog {
    color: #91969a;
}

.prism .token.attr-name, .prism .token.builtin, .prism .token.char, .prism .token.inserted, .prism .token.selector, .prism .token.string, .token.pre.gfm .token.attr-name, .token.pre.gfm .token.builtin, .token.pre.gfm .token.char, .token.pre.gfm .token.inserted, .token.pre.gfm .token.selector, .token.pre.gfm .token.string {
    color: #bbf549;
}

.prism .token.function, .token.pre.gfm .token.function {
    color: #ff8ea5;
}

.prism .language-css .token.string, .prism .style .token.string, .prism .token.entity, .prism .token.operator, .prism .token.url, .token.pre.gfm .language-css .token.string, .token.pre.gfm .style .token.string, .token.pre.gfm .token.entity, .token.pre.gfm .token.operator, .token.pre.gfm .token.url {
    color: #eab27b;
}

.prism {
    tab-size: 2;
}